.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .center {
     display: flex;
     flex-direction: column;
     position: relative;
     position: relative;
     left: -30px;
     svg {
        position: absolute;
        height: 274px;
        width: 705px;
        top: 7px;
        left: 0;
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        animation: dash 3s linear forwards;
        animation-delay: 1.5s;
     }
     span {
        font-size: 24px;
        line-height: 28px;
        color: $text-color;
        font-weight: 700;
     }
     h1 {
        position: relative;
        left: 48px;
     }
     .right {
        text-align: end;
        margin-top: 12px;
        align-self: flex-end;
        position: relative;
        left: 48px;
     }
  }
  .scroll-sign {
     position: absolute;
     bottom: 50px;
     right: 70px;
  }
  .social-bar {
     position: absolute;
     bottom: 50px;
     left: 70px;
     a {
        display: block;
        padding: 15px;
        img {
           width: 35px;
           height: 35px;
           transition: transform 300ms ease-in-out;
           &:hover {
              transform: scale(1.3);
           }
        }
     }
  }
}
@keyframes dash {
  from {
     stroke-dashoffset: 2000;
  }
  to {
     stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 1250px) {
   .hero {
      .center {
         svg {
            height: auto;
            width: 476px;
            top: 7px;
            left: 3px;
         }
         span {
            font-size: 18px;
            line-height: 22px;
         }
         h1 {
            left: 40px;
            font-size: 100px;
            line-height: 100px;
         }
         .right {
            margin-top: 8px;
            left: 22px;
         }
      }
    }
}
@media screen and (max-width: 750px) {
   .hero {
      .center {
         display: block;
         text-align: center;
         svg {
            display: none;
         }
         h1 {
            font-size: 80px;
            left: 0px;
            margin-bottom: 10px;
         }
         .right {
            left: 0px;
         }
      }
      .scroll-sign {
         display: none;
      }
      .social-bar {
         position: absolute;
         bottom: 50px;
         left: 50%;
         display: flex;
         transform: translateX(-50%);
         a {
            display: block;
            padding: 15px;
            img {
               width: 35px;
               height: 35px;
               transition: transform 300ms ease-in-out;
               &:hover {
                  transform: scale(1.3);
               }
            }
         }
      }
    }
}