.profil {
   width: 100%;
   height: 100vh;
   .head {
      @include head-section;
      .divider {
         @include divider;
      }
   }
   .center {
      display: flex;
      justify-content: center;
      gap: 150px;
      .left {
         p {
            max-width: 530px;
            margin-bottom: 35px;
         }
         .resume {
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            gap: 15px;
            background: none;
            position: relative;
            cursor: pointer;
            @include hover-underline;
         }
      }
      .right {
         .img-border {
            width: 400px;
            height: 320px;
            border: 4px solid $dark-yellow;
            .profil-pic {
               &.active {
                  position: relative;
                  top: 50px;
                  left: -50px;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1250px) {
   .profil {
      height: auto;
      margin: 100px 0;
      .head {
         margin: 90px 0 70px 70px;
         h2 {
            font-size: 35px;
         }
      }
      .center {
         gap: 100px;
         padding: 0 40px;
         .left {
            p {
               max-width: 430px;
               font-size: 14px;
               line-height: 18px;
               .capital {
                  font-size: 20px;
               }
            }
         }
         .right {
            .img-border {
               width: 300px;
               height: auto;
            }
         }
      }
   }
}
@media screen and (max-width: 750px) {
}
@media screen and (max-width: 450px) {
}
