.projects {
   width: 100%;
   height: 100vh;
   .head {
      @include head-section;
      .divider {
         @include divider;
      }
   }
   .projects-wp {
      margin: 0 auto;
      max-width: 930px;
      max-height: 450px;
      position: relative;
      .overflow {
         margin: 0 auto;
         max-width: 930px;
         max-height: 450px;
         overflow: auto;
         -ms-overflow-style: none;
         scrollbar-width: none;
         &::-webkit-scrollbar {
            display: none;
         }
         .row {
            border-bottom: 5px solid $dark-yellow;
            padding: 25px 15px;
            position: relative;
            .toggle {
               transition: all 500ms linear;
               max-height: 0px;
               overflow: hidden;
            }
            &:hover .toggle {
               max-height: 240px;
            }
            &:hover {
               background: rgba(255, 255, 255, 0.08);
            }
            h3 {
               margin-bottom: 15px;
            }
            h5 {
               font-size: 18px;
               font-family: 'Open sans', sans-serif;
               font-weight: 500;
               margin: 25px 0 10px;
            }
            .description {
               max-width: 85%;
            }
            p {
               font-size: 16px;
            }
            .tags {
               display: flex;
               margin-top: 10px;
               gap: 20px;
               span {
                  color: $dark-yellow;
               }
            }
            .functionality {
               padding-left: 20px;
               display: flex;
               flex-wrap: wrap;
               column-gap: 20px;
               row-gap: 5px;
               p {
                  width: 400px;
                  margin: 0;
                  padding: 3px;
               }
            }
            &:first-child {
               padding: 10px 15px 25px;
            }
            &:last-child {
               border-bottom: none;
            }
            .discover {
               visibility: hidden;
               opacity: 0;
               display: flex;
               align-items: center;
               column-gap: 15px;
               border: none;
               background: none;
               font-size: 20px;
               position: absolute;
               bottom: 40px;
               right: 15px;
               transition: transform 300ms ease-in-out, opacity 600ms ease-in-out;
               &:hover {
                  transform: scale(1.05);
               }
            }
            &:hover .discover {
               visibility: visible;
               opacity: 1;
            }
            .number {
               font-family: 'Cera', sans-serif;
               font-size: 40px;
               font-weight: 700;
               position: absolute;
               top: 30px;
               right: 15px;
            }
         }
      }
      .scroll-sign {
         position: absolute;
         bottom: 0;
         right: -50px;
      }
   }
}

@media screen and (max-width: 1250px) {
   .projects {
      height: auto;
      margin: 100px 0;
      .head {
         margin: 90px 0 70px 70px;
         h2 {
            font-size: 35px;
         }
      }
      .projects-wp {
         margin: 0 auto;
         max-width: 930px;
         max-height: 450px;
         position: relative;
         padding: 0 30px;
         .overflow {
            .row {
               &:hover .toggle {
                  max-height: 300px;
               }
               h3 {
                  font-size: 25px;
               }
               p {
                  font-size: 14px;
               }
               h5 {
                  font-size: 16px;
               }
               .number {
                  font-size: 28px;
               }
               .discover {
                  font-size: 18px;
               }
            }
         }
      }
      .scroll-sign {
         display: none;
      }
   }
}
@media screen and (max-width: 750px) {
}
@media screen and (max-width: 450px) {
}
