.skills {
   width: 100%;
   height: 100vh;
   .head {
      @include head-section;
      .title-wp {
         display: inline-block;
         .divider {
            @include divider;
         }
      }
   }
   .grid {
      width: max-content;
      margin: 0 auto;
      padding: 30px 20px;
      .row {
         display: flex;
         .title-wp {
            width: 180px;
            display: flex;
            align-items: center;
            padding: 25px 40px 25px 0;
            border-right: 5px solid $dark-yellow;
            .title {
               font-size: 24px;
               font-weight: 700;
               line-height: 30px;
               font-family: 'Cera', sans-serif;
            }
         }
         .content {
            display: flex;
            padding: 25px 0 25px 40px;
            .items {
               @include flex-center;
               gap: 40px;
               margin-right: 40px;
               .item {
                  @include flex-center;
                  flex-direction: column;
                  img {
                     margin-bottom: 7px;
                  }
                  span {
                     font-weight: 600;
                     font-size: 18px;
                  }
               }
            }
         }
         &.middle {
            border-top: 5px solid $dark-yellow;
            border-bottom: 5px solid $dark-yellow;
         }
      }
   }
}

@media screen and (max-width: 1250px) {
   .skills {
      height: auto;
      margin: 100px 0;
      .head {
         margin: 90px 0 70px 70px;
         h2 {
            font-size: 35px;
         }
         h4 {
            font-size: 16px;
            max-width: 500px;
         }
      }
      .grid {
         .row {
            .title-wp {
               width: 160px;
               .title {
                  font-size: 20px;
               }
            }
            .content {
               flex-direction: column;
               row-gap: 40px;
               .items {
                  margin-right: 15px;
                  .item {
                     span {
                        font-size: 14px;
                     }
                  }
               }
            }
         }
      }
   }
}
@media screen and (max-width: 750px) {
}
@media screen and (max-width: 450px) {
}
