// BACKGROUND
.fixed-bg {
   background: radial-gradient(62.28% 62.28% at 51.01% 37.72%, rgba(34, 33, 28, 0.8) 0%, #1c1e22 100%);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
}

// HEADER
.header {
   width: 100%;
   position: absolute;
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 70px 60px 0;
   .right {
      display: flex;
      align-items: center;
      .lang {
         margin-right: 50px;
         span {
            font-size: 22px;
            font-weight: 700;
            color: #656565;
            padding: 2px 5px;
            border: 2px solid transparent;
            margin: 0 2px;
            cursor: pointer;
            &.active {
               color: #fff;
               border: 2px solid #fff;
            }
         }
      }
      .menu {
         cursor: pointer;
      }
   }
}

// HERO SECTION
.hero {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   .center {
      display: flex;
      flex-direction: column;
      position: relative;
      svg {
         position: absolute;
         height: 274px;
         width: 705px;
         top: 7px;
         left: 0;
         stroke-dasharray: 2000;
         stroke-dashoffset: 2000;
         animation: dash 3s linear forwards;
         animation-delay: 1.5s;
      }
      span {
         font-size: 24px;
         line-height: 28px;
         color: $text-color;
         font-weight: 700;
      }
      h1 {
         position: relative;
         left: 48px;
      }
      .right {
         text-align: end;
         margin-top: 12px;
         align-self: flex-end;
         position: relative;
         left: 48px;
      }
   }
   .scroll-sign {
      position: absolute;
      bottom: 50px;
      right: 70px;
   }
   .social-bar {
      position: absolute;
      bottom: 50px;
      left: 70px;
      a {
        display: block;
        padding: 10px;
        img {
          width: 35px;
          height: 35px;
          transition: transform 300ms ease-in-out;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
   }
}
@keyframes dash {
   from {
      stroke-dashoffset: 2000;
   }
   to {
      stroke-dashoffset: 0;
   }
}
