// BACKGROUND
.fixed-bg {
   background: radial-gradient(62.28% 62.28% at 51.01% 37.72%, rgba(34, 33, 28, 0.8) 0%, #1c1e22 100%);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
}

@import 'style_components/header';
@import 'style_components/hero';
@import 'style_components/profil';
@import 'style_components/skills';
@import 'style_components/projects';
@import 'style_components/contact';

